.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* additions */
main{
  background-image: url('../public/images/sendit landscape blue.jpeg');
  /* background-size: cover;  */
  background-position: center;  
  /* height: 100vh; */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* height: 100vh;  */
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  
  
}
header{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  background-color: RGBa(31, 109, 158, 0.4);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
}

.admin-logo{
  display: flex;
  align-items: center;
  gap: 0.5em;
}